
<section class="hero">
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="container text-center">
    
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="lead" style="color: rgb(4, 27, 58); text-align: center;">
          <h2  [@hinge]="hinge" [@jello]="jello" id="my-name">
            Angular Animation
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h3 style="font-family: 'Orbitron', sans-serif; text-decoration: underline;">Samples from:  
        <a href="http://dndn.dx.am/">dndn.dx.am</a>
      </h3>
      <span class="tagline">
        <h4 style="font-family: 'Righteous', cursive;">
          basically MEAN-fullStack, NodeJS, Angular <br> 
          From Damascus, Syria</h4>
      </span>
    </div>
  </div>
</section>